@import '../../styles/variables.scss';

.container {
    font-weight: bold;
    display: flex;
    column-gap: 18px;
    margin-bottom: 20px;
    :hover{
        color:$dark_turquoise;
    }
    color: $gray;
    a {
        font-size: 34px;
    }    
}

.active {
    color :$turquoise;
    :hover {
        color :$turquoise;
    }
}


