@import '../../styles/variables';

.container{
}

.introduction {
    display: flex;
    column-gap: 25px;
}

.text-container {
    max-width: 250px;
    font-size:16px;
    align-self: center;
}

.image {
    max-width: 150px;
    max-height: 150px;
    border-radius: 100px;
}

.keyword {
    color:$turquoise;
}

.description{
    max-width: 500px;;
}